# Data Science Tools & Ecosystem

In this notebook, Data Science Tools & Ecosystem are summarized

**("Objectives")**

- List popular for Data Science 
- List open source tools for Data Science
- List of some important libraries used for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlip
2. Scikit-learn
3. Spark
4. Scala

| Data Science Tools| 
| -------------|
| MySQL |
| MongoDB |
| Apache Cassandra |

### Below are a few examples of evaluating arithmetic expressions in Python

```python
(20+5)*4

(10+8)*3 

```

In [7]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

In [12]:
(200/60)

# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author 
Sarfaraz Kazi